@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Dark-Blue, #10141e);
  font-family: "Outfit", sans-serif;
}

input::placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 16px;
  padding-bottom: 18px;
}
